.main_body .main_body_con1{
    width:80%;
    padding:0 10%;
}
.main_body .main_body_con1 h3{
    margin:50px 0 20px 0;
    padding:1% 0 1%;
    border-bottom:1px solid #000;
}
.main_body .main_body_con1 p{
    margin-bottom:20px;
    line-height: 20px;
}
.main_body .main_body_con1 .btn{
    text-align:center;
    padding:3% 0 3%;
}
.main_body .main_body_con1 .btn a{
    padding:2% 5% 2% 3%;
    background:#48494b;
    border:1px solid #48494b;
    color:#fff;
    transition:all 0.2s;
    position: relative;
}
.main_body .main_body_con1 .btn a::after{
    content:'';
    width:10px;
    height:2px;
    position:absolute;
    right:7%;
    top:41%;
    background: #fff;
    transition:all 0.2s;
    transform: rotate(45deg);
}
.main_body .main_body_con1 .btn a::before{
    content:'';
    width:10px;
    height:2px;
    position:absolute;
    right:7%;
    top:53%;
    background: #fff;
    transition:all 0.2s;
    transform: rotate(-45deg);
}
.main_body .main_body_con1 .btn a:hover{
    background:#fff;
    color:#303030;
}
.main_body .main_body_con1 .btn a:hover::after,
.main_body .main_body_con1 .btn a:hover::before{
    background:#303030;
}
.main_body .main_body_con1 .img_wrap{
    margin:20px 0 50px 0;
}
.main_body .main_body_con1 .img_wrap p{
    padding:2% 0 2% 0;
}
.main_body .main_body_con1 .img_wrap .img_grid{
    width:50%;
    float:left;
}
.main_body .main_body_con1 .img_wrap img{
    width:100%;
}